* {
  /*font-family: "0xProto Nerd Font Mono", sans-serif;*/
  font-family: "UbuntuMono Nerd Font";
  font-size: 18px;
  color: #FFFFFF; /*#FB9FB8;*/
}



window#waybar {
  background-color: rgba(30, 30, 30, 0.98);
  border: none;
  min-height: 18px;
}

#workspaces {
	/*background: rgba(255, 255, 255, 0.5);*/
}

#workspaces button {
  /*padding: 0 8px;*/
  /*margin: 0 4px;*/
  padding: 0 8px;
  margin: 4px 2;
  border-radius: 8px;
  background-color: #4a4a4a; /*4a4a4a*/
  
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.3);
}

#battery,
#cpu,
#memory,
#pulseaudio,
#clock,
#network,
#custom-dnd {
  margin: 0 8px;
}

